.border-box {
    border-radius: 20px;   
}
.border-box:hover {
    transform: scale(1.02);
}
.border-box:active {
    transform: scale(0.98);
}

.fixed-box-area {
    position: fixed;
    inset: 90px 20px 80px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-box-wrapper {
    width: min(100%, 1100px);
    height: min(100%, 700px);
    margin: 0 auto;
}

.box-vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 16px;
}

.box-horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
    gap: 16px;
}
@media (max-width: 600px) {
    .box-horizontal {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1 1 auto;
        min-height: 0;
        gap: 16px;
    }
}

.fixed-box {
    flex: 1 1 0;
    min-height: 0;
    margin: 0 8px;

    display: flex;
    flex-direction: column;
}
@media (max-height: 500px) {
    .fixed-box {
        flex-direction: row;
        gap: min(4vw, 24px);
        
        justify-content: center; 
        align-items: center;
    }
}

.fixed-box > h1 {
    font-size: 1.6rem;
}

.fixed-widget {
    width: calc(100% - 16px);
    min-height: 0;
    margin: 8px 8px;
}

.box-svg-area {
    flex: 1 1 auto;
    width: 80%;
    min-height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-height: 500px) {
    .box-svg-area {
        height: 80%;
        min-height: 60px;
        flex: 0 1 auto;

        width: auto;

        aspect-ratio: 1/1;
    }
}

.next-events-widget {
    height: 130px;
}

@media (max-height: 415px) {
    .fixed-box-area {
        position: static;
        inset: auto;
        margin-top: 8px;
    }

    .fixed-box-wrapper {
        width: 100%;
        height: auto;
    }

    .box-vertical {
        height: auto;
    }
}
