.scheduled-popup {
    width: 80vw;
    height: 85vh;
    min-width: 200px;
    min-height: 100px;
    max-width: 800px;
    max-height: 600px;
}

.scheduled-plus {
    height: 1.8rem;
    margin-right: auto;
    margin-top: -40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    padding: 6px;
    border-radius: 1.8rem;
}
.scheduled-plus > svg {
    height: 100%;
    aspect-ratio: 1/1;
}

.scheduled-event {
    height: 3rem;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    padding: 6px;
    border-radius: 3rem;
}

.scheduled-event > svg {
    height: 60%;
    aspect-ratio: 1/1;
}
