.scheduled-popup {
    width: 80vw;
    height: 85vh;
    min-width: 200px;
    min-height: 100px;
    max-width: 800px;
    max-height: 600px;
}

.scheduled-plus {
    height: 1.8rem;
    margin-right: auto;
    margin-top: -40px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    padding: 6px;
    border-radius: 1.8rem;
}
.scheduled-plus > svg {
    height: 100%;
    aspect-ratio: 1/1;
    transition: color 0.2s ease-in-out;
}
.scheduled-plus:hover > svg {
    color: #00aa00;
}
.scheduled-plus:active > svg {
    color: #009900;
}

.scheduled-event {
    height: 3rem;
    width: calc(100% - 30px);
    margin: 0 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 6px 15px;
    border-radius: 3rem;
}

.scheduled-event .group {
    height: 100%;
    width: auto;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 7px;
}
.scheduled-event .hover-group {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.scheduled-event .hover-group:hover {
    transform: scale(1.1);
}
.scheduled-event .hover-group:active {
    transform: scale(0.98);
}

.scheduled-event .seperator {
    height: 100%;
    width: 2px;
    background-color: #e2e8f0;
    margin: 0 5px;
}

.scheduled-event .minus {
    height: 60%;
    aspect-ratio: 1/1;

    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
}
.scheduled-event .minus:hover {
    transform: scale(1.15);
    color: #ff1111;
}
.scheduled-event .minus:active {
    transform: scale(0.98);
    color: #ee2222;
}

.scheduled-event .icon {
    height: 50%;
    aspect-ratio: 1/1;

    transition: color 0.2s ease-in-out;
}
.scheduled-event .hover-group:hover .icon {
    color: #5599ff;
}
