/* SCHEDULED TABLE */
.scheduled-popup {
    width: 80vw;
    height: 85vh;
    min-width: 200px;
    min-height: 100px;
    max-width: 800px;
    max-height: 600px;
}

.scheduled-table {
    margin-top: -50px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scheduled-row {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    gap: 10px;

    transition: height 0.3s ease-in-out;
}

/* ICON BOX */
.icon-box {
    flex: 1 0 3rem;
    height: 3rem;

    padding: 0 0.5rem;

    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid transparent;
    border-radius: 1.5rem;
    
    cursor: pointer;

    transition: border 0.3s ease-in-out, height 0.3s ease-in-out;
}
.icon-box:hover {
    border-color: #e2e8f0;
}

.icon-box > svg {
    height: 2rem;
    aspect-ratio: 1/1;

    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.icon-box:hover > svg {
    color: #5599ff;
    transform: scale(1.1);
}

/* ICON BOX - EXPANDED */
.scheduled-row:has(.expanded) {
    height: 10rem;
}

.icon-box.expanded {
    height: auto;

    border-color: #999999;

    padding: 0.5rem;

    align-items: start;
    justify-content: left;

    cursor: auto;
}
.icon-box.expanded:hover > svg {
    color: inherit;
    transform: scale(1);
}

.icon-box.expanded > svg {
    cursor: pointer;
}
.icon-box.expanded > svg:hover {
    color: #5599ff;
    transform: scale(1.1);
}

/* SCHEDULED-PLUS & SCHEDULED-MINUS */
.scheduled-plus,
.scheduled-minus {
    flex: 0 0 3rem;
    height: 3rem;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 3rem;
}
.scheduled-plus > svg,
.scheduled-minus > svg {
    height: 60%;
    aspect-ratio: 1/1;
    transition: color 0.2s ease-in-out;
}
.scheduled-plus:hover > svg {
    color: #00aa00;
}
.scheduled-plus:active > svg {
    color: #009900;
}
.scheduled-minus:hover > svg {
    color: #ff1111;
}
.scheduled-minus:active > svg {
    color: #ee2222;
}

/* EXPANDED CONTENT */
.expanded-content {
    width: 100%;
    height: 100%;
    min-width: 125px;
    
    position: relative;
}

.weekday-select {
    position: absolute;
    left: 0;
    right: 0;
    top: 2%;
    
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);
    
    gap: 7px;
}
.weekday-select > span {
    width: 100%;
    cursor: pointer;

    border: 2px solid transparent;
    border-radius: 99999px;

    transition: border-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}
.weekday-select > span.selected {
    border-color: #009900;
    background-color: #00990011;
}
.weekday-select > span:hover{
    border-color: #e2e8f0;
}
.weekday-select > span.selected:hover {
    border-color: #06bc06;
}

.weekday-select > span:active {
    transform: scale(0.95);
}


.time-select {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-select > input {
    border: 2px solid #e2e8f0;
    border-radius: 15px;
    background-color: white;
    width: 90px;
    height: 35px;
    
    text-align: center;
    font-size: 20px;
}

.time-select > input:invalid,
.time-select > input:placeholder-shown {
    border-color: red;
}

.duration-select {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
